/* Styling of navigation bar */
#navdiv{
  display:flex;
  width:17%;
  margin-left: 82%;
  justify-content: space-around;
  margin-top: 1%;
  height:35px;
}

nav img{
  
margin-top: 5px;

}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

#googleimg{
  margin-top: 5px;
}
/* Removing underline from links*/
a{
  margin-top: 8px;
  text-decoration: none;

font-family: 'Open Sans';
}

material-icons {
  vertical-align: middle;
}
button{
  border-radius: 3px;
  height:100%;
  padding:5px 12px;
  background-color: #4C87E1 ;
  color:white;
  border:none;
}
i{
padding: 6px;
display-block: inline-block;
color:rgb(95,99,104);
}
/* setting up size and border stle of search bar*/
#maindiv{
width:35%;
border-radius: 60px;
display: flex;
height:40px;
border:1px solid lightgrey;
}

.no-outline:focus {
outline: none;}

#inputspan{
  width:100%;

}
span{
  vertical-align: centre;
}
span:first-child{
  width:10%;
  border-radius: 50px;
  margin-top: 7px;
}
span:nth-last-child(even){
  width:10%;
  border-radius: 50px;
  margin-top: 7px;

}
span:last-child{
  width:10%;
  border-radius: 50px;
  margin-top: 7px;
}

input{
  height:100%;
  width:100%;
  border: none;
  padding:0px;
}

section{
  display: flex;
  margin-top: 2%;
  width:23%;
  justify-content: space-around;
  margin-bottom: 2%;
}
section button{
  padding:10px 12px;
  background-color: lightgrey;
  color:black;

}

ul{
  display: flex;
  width: 30%;
  padding-left: 0px;
  list-style: none;
  justify-content: space-around;
  margin: 6px;
}
#Bottomdiv{
  display:flex;
  font-size: 12px;
  margin-top: 3%;
}
#Bottomdiv span{
  width:7%;
  margin-left: 31%;
}
/*When hovered*/
a:hover{
  text-decoration: underline;

}
button:hover{
  border: 1px solid gray;
box-shadow: grey;
}


button:active{

box-shadow: blue;
}